<h1>Posts#index</h1>

<!--検索フォームのスペース-->
<%= form_with(url: search_posts_path, method: :get) do |f| %>
  <%= f.search_field :keyword, placeholder: "検索ワードを入力" %>
  <%= f.submit "検索" %>
<% end %>


<!--検索結果一覧のスペース-->


<!--新規投稿一覧のスペース-->
<h2>新規投稿一覧</h2>
