<h1>Posts#search</h1>

<!--検索結果一覧のスペース-->
<h2>検索一覧</h2>
<% if @posts.blank? && @users.blank? %>
  <p>検索ワードに一致する投稿が見つかりませんでした。</p>
<% elsif @posts.present? %>
  <table>
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td>
          <%= link_to post.shop_name, post_path(post) %>
        </td>
      </tr>
      <% end %>
<% else @users.present? %>
      <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_image, :size => '80x80' %>
          <% end %>
          <%= link_to user.name, user_path(user.id) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>